<p class="lead" n:if="$category->description">
	{$category->description}
</p>
<ul class="list-unstyled">
	<li n:foreach="$posts as $post">
		{control post-$post->id:item}
	</li>
</ul>
{control pagination-posts}
