<p class="lead" n:if="$category->description">
	{$category->description}
</p>
<ul class="media-list">
	<li n:foreach="$posts as $post">
		{control Ytnuk\Blog\Post\Control-$post->id:media}
	</li>
</ul>
{control Ytnuk\Orm\Pagination\Control-posts}
