<ul class="list-inline text-muted">
	<li class="list-inline-item">
		<i class="fa fa-calendar"></i>
		{=new DateTime|date}
	</li>
	<li class="list-inline-item">
		<i class="fa fa-user"></i>
		<a href="#">Vít Kutný</a>
	</li>
	<li class="list-inline-item">
		<i class="fa fa-comment"></i>
		<a href="#">0 comments</a>
	</li>
	<li class="list-inline-item">
		<a class="label label-default" href="#" n:foreach="range(1,5) as $i">
			<i class="fa fa-tag"></i>
			tag-{$i}
		</a>
	</li>
</ul>
