<h2>
	<a n:href="$post->link">{$post->title}</a>
</h2>
{control $control:info}
<hr>
<p class="lead">
	{if $description = $post->description}
		{$description}
	{else}
		{$post->content|striptags|strip|noescape|truncate:256}
	{/if}
</p>
