category:
	presenter:
		action:
			edit: Upravit kategorii
	description:
		form:
			container:
				property:
					value:
						label: Popis
						placeholder: Vyplňte popis
post:
	presenter:
		action:
			edit: Upravit příspěvek
	form:
		container:
			property:
				content:
					label: Obsah
					placeholder: Vyplňte obsah
				title:
					label: Název
					placeholder: Vyplňte název
				categoryNodes:
					group: Kategorie
					action:
						add: Přidat kategorii
						delete: Odebrat kategorii
	description:
		form:
			container:
				property:
					value:
						label: Popis
						placeholder: Vyplňte popis
	category:
		form:
			container:
				group: Kategorie
				property:
					post:
						label: Příspěvek
						placeholder: Vyberte příspěvek
					category:
						label: Kategorie
						placeholder: Vyberte kategorii
					primary:
						label: Hlavní kategorie
